[Unit]
Description=Radarr Movie Search Engine
After=network.target

[Service]
User=search
Group=torrenting
Type=simple
WorkingDirectory=/opt/radarr
KillMode=process
ExecStart=/opt/radarr/Radarr
Restart=on-failure
RestartSec=3
Nice=0
[Install]
WantedBy=multi-user.target
