[Unit]
Description=Sonarr Series Search Engine
After=syslog.target network.target

[Service]
User=search
Group=torrenting
Type=simple
UMask=0002
KillMode=process
ExecStart=/opt/sonarr/Sonarr
Restart=on-failure
RestartSec=3
Nice=0
[Install]
WantedBy=multi-user.target
