[Unit]
Description=Flood Service
After=network.target

[Service]
User=flood
Group=flood
Type=simple
KillMode=process
ExecStart=/usr/bin/env flood --port 9001 --host="localhost" --noauth --rtsocket="/var/rtorrent/session/scgi.socket" --baseuri="/flood" --rundir="/var/flood/"
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
