[Unit]
Description=rTorrent System Daemon
After=network.target

[Service]
Type=simple
User=rtorrent
Group=torrenting
# Modify the next 2 lines to use absolute paths
ExecStartPre=-/bin/rm -f /var/rtorrent/session/rtorrent.lock
ExecStart=/usr/bin/rtorrent -o import=/etc/rtorrent/rtorrent.rc
Restart=on-failure
Nice=10
RestartSec=3

[Install]
WantedBy=multi-user.target
